<!DOCTYPE html>
<html lang="en">
  <head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
      <title>Ordering burgers</title>
      <meta charset="utf-8"/>
      <script type="text/javascript" src="js/menu.js"></script>
      <script src="https://vuejs.org/js/vue.js" defer></script>
      <script src="js/vue_script.js" defer></script>
      <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <main id='main'>

      <!-- Header -->
      <header>
        <img id="header" src="https://images.deliveryhero.io/image/mjam/restaurant/restaurant/header_image/crosslisting/burger-bros.jpg?width=1920&height=351">
        <h1>Välkommen till BurgerOnline</h1>
      </header>

      <!-- Burgersection -->
      <section id="burgers">
        <h2>Här väljer du hamburgare</h2>
        <p>Välj hamburgare</p>

        <div class="wrapper" id="wrap">

            <div class="box" v-for="menuItem in copiedMenu">

              <input type="checkbox" v-model="menuItem.checked">
              <label v-bind:for="menuItem.name">{{ menuItem.name }}</label>
              <img v-bind:src="menuItem.img" height="250" width="250">
              <ul>
                <li>{{ menuItem.kCal }}</li>
                <li>{{ menuItem.allergy }}</li>
              </ul>

            </div>

        </div> <!-- wrap class -->

      </section> <!-- id=burgers -->

      <!-- Customer section -->
      <section id="customer">
        <h2>Kundinformation</h2>
        <p>Här anger du leverans- och betalningsinformation</p>
        <h3>Leveransinformation</h3>

        <div id="customerInfoDiv">
          <form id="customerInfoForm">
            <p>
              <label for="fullname">För- och efternamn<label><br>
              <input v-model="name" type="text" id="name" placeholder="För- och efternamn">
            </p>
            <p>
              <label for="email">E-mailadress</label><br>
              <input v-model="email" type="email" id="email" placeholder="E-mailadress">
            </p>
            <p>
              <label for="gender">Kön</label><br>

              <input type="radio" v-model="gender" name="gender" value="Man" id="male">
              <label for="male">Man</label><br>
              <input type="radio" v-model="gender" name="gender" value="Kvinna" id="female">
              <label for="female">Kvinna</label><br>
              <input type="radio" v-model="gender" name="gender" value="Icke-binär" id="non-binary">
              <label for="non-binary">Icke-binär</label><br>
              <input type="radio" v-model="gender" name="gender" value="Vill ej säga" id="undisclosed">
              <label for="undisclosed">Vill ej säga</label><br>

            </p>
            <p>
              <label for="payment">Betalningsmetod</label><br>
              <select v-model="payMethod" id="payment">
                <option v-for="option in payment" v-bind:value="option.value">
                  {{ option.value }}
                </option>
              </select> <!-- payment method -->
            </p>

            <div class="view-box">
              <div id="dots" v-on:click="displayOrder">
                  <div
                    v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
                    T <!-- {{key}} -->
                  </div>
              </div>
            </div> <!-- map -->

          <p>
            <!--<button v-on:click="markDone" type="button">Lägg order</button>-->
            <button v-on:click="addOrder" type="button">Lägg order</button>
          </p>

          <div id="orderConfirmation" v-if="submitted">
            Kundinformation:
            <ul>
              <li>Namn: {{ customer.name }}</li>
              <li>E-mail: {{ customer.email }}</li>
              <li>Kön: {{ customer.gender }}</li>
              <li>Betalningsmetod: {{ customer.payMethod }}</li>
            </ul>
            Orderinformation:
            <ul>
              <li v-for="burger in burgers"> {{ burger }}</li>
            </ul>
          </div> <!-- order information -->

          </form> <!-- customerInfoForm -->
        </div> <!-- customerInfoDiv -->
      </section> <!-- id=customer -->


    </main>
  </body>
</html>
