<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ordering burgers</title>
        <meta charset="utf-8"/>
    </head>
    <body>
      <main>
        <h1>Välkommen till BurgerOnline</h1>

        <section>
          <h2>Här väljer du hamburgare</h2>
            <p>Välj hamburgare</p>

            <table>
              <tbody>
                <tr>
                  <td><div align="center"><b>Eldburgaren</b></div></td>
                  <td><div align="center"><b>Kalkonburgaren</b></div></td>
                  <td><div align="center"><b>Dubbelburgare med ost</b></div></td>
                </tr>
                <tr>
                  <td>
                    <figure>
                      <div align="center">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.sxRbHlAsy-zqHEipClOzIgAAAA%26pid%3DApi&f=1" width="200">
                      </div>
                    </figure>
                  </td>
                  <td>
                    <figure>
                      <div align="center">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.Yqek6-kRcAl6p8Mo6DTt3AHaHa%26pid%3DApi&f=1" width="200">
                      </div>
                    </figure>
                  </td>
                  <td>
                    <figure>
                      <div align="center">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F1.bp.blogspot.com%2F-i2e3XPfVwYw%2FV9GgRgn2Y3I%2FAAAAAAAAxeM%2FIh2LoXrSQr0NBgFKLeupxYNzwGZXBv1VwCLcB%2Fs400%2FHardees-Classic-Double-Cheeseburger.jpg&f=1&nofb=1" width="200">
                      </div>
                    </figure>
                  </td>
                </tr>
                <tr>
                  <td>
                    <ul>
                      <li>750 kCal</li>
                      <li>Osten innehåller laktos</li>
                      <li>Innehåller gluten</li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li>Friterad kalkonburgare</li>
                      <li>Laktosfri</li>
                      <li>Glutenfritt bröd</li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li>Två lager kött</li>
                      <li>Ost (innehåller laktos)</li>
                      <li>Brödet innehåller gluten</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>

        </section>

        <section>
          <h2>Kundinformation</h2>
          <p>Här anger du kontakt- och betalningsinformation</p>
        </section>

      </main>
      <footer>
        &copy 2020 Hypotetiska Burgare AB
      </footer>
    </body>
</html>
